
body {
    background: url(https://test.cdn.fandelo.com/images/welcome-bg.jpg) center
      center / cover no-repeat fixed;
  
    height: 100vh;
  }
  
  .heading {
    text-align: center;
    padding-top: 20px;
    margin: 30px 0;
  }
  
  .img {
    height: 72px;
  }