@import "./variables.scss";
@import './bgc.scss';

.body {
  width: 402px;
  background-color: $bgc;

  .body__form {
    flex-direction: column;

    .send-a {
      .send-btn {
        background: $basic-green;
        margin: 14px 0;
      }
    }

    .back-btn {
      background-color: transparent;
      margin: 0;
      border: 1px solid;
    }
  }
}
