@import "./variables.scss";


.nav {
  border-bottom: 2px solid #ccc;
  height: 52px;
  box-shadow: 2px 2px 2px #ccc;
  margin-bottom: 16px;

  i {
    zoom: 1.3;
  }

  .navLeft {
    .search {
      margin-left: 14px;
      position: relative;
      .search-bar {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 5px 0px 5px 30px;
      }
      .search-icon {
        position: absolute;
        left: -8px;
        top: 50%;
        transform: translateY(-48%);
        height: 70%;
      }
    }
  }

  .navLogo {
    img {
      height: 38px;
    }
  }

  .navRight {
    .avt {
      //   position: relative;
      .avt-img {
        height: 32px;
        margin-right: -4px;
      }

      .avt-expand {
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        height: 12px;
        margin: 0;
      }
    }
  }

  @media (max-width: 1000px) {
    .navLeft,
    .navRight,
    .navLogo {
      flex: 1;
    }

    .navRight {
      justify-content: flex-end;
    }

    .navRight > i {
      display: none;
    }
  }

  @media (max-width: 674px) {
    .navLeft {
      display: none;
    }

    .navLogo {
      justify-content: flex-start;
      margin-left: -10%;
    }

    .navRight {
      justify-content: flex-end;
    }

    .navRight > i {
      display: none;
    }

    .navRight > .avt > img {
      display: none;
    }

    .navRight {
      margin-right: -6%;
    }
  }
}

.sort {
  .list,
  .list-w-img,
  .grid-view {
    padding: 15px;
    font-weight: 900;
    border-radius: 3px;
    border-color: transparent;
    background-color: #ccc;
  }
}

.container {

  .content {
    .box1,
    .box2,
    .box4,
    .box5 {
      flex: 1;
    }

    .box1 {
      .img {
        width: 100%;
      }
    }

    .box2 {
      .timeNLocationDetail {
        font-size: 12px;
        display: flex;
        justify-content: center;
        display: inline-block;

        .title-img-view {
          margin-bottom: 20px;
        }
      }
    }

    .box3 {
      text-align: center;
      flex: 2;
      .box3-detail {
        text-align: left;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3.33333%;
    .content {
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 2px 2px 8px #ccc;
      padding: 20px;
      margin: 16px 0;
      border-radius: 3px;

      .box2 {
        .timeNLocationDetail {
          margin: 12px 0;
          display: flex;
          flex-direction: column;

          .title-img-view  {
            margin: 0;
          }

          .dateTime,
          .located {
            margin: 0;
          }

          .dateTime {
            margin-right: 8px;
          }
        }

        .timeNLocationDetail > div {
          margin: 12px 0 0 0;
        }

        // .timeNLocation {
        //   .timeNLocationDetail {
        //     flex-direction: column;
        //   }
        // }
      }

      .box3 {
        .desc {
          font-size: 14px;
        }
      }

      .box5 {
        padding: 8px 0;
        border-top: 1px solid rgb(232, 224, 224);
        width: 100%;
        justify-content: flex-end;

        .like {
          margin-left: 8px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3.33333%;
    .content {
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 2px 2px 8px #ccc;
      padding: 20px;
      margin: 16px 0;
      border-radius: 3px;

      .box2 {
        .timeNLocationDetail {
          margin: 12px 0;
          display: flex;
          flex-direction: column;

          .title-img-view  {
            margin: 0;
          }

          .dateTime,
          .located {
            margin: 0;
          }

          .dateTime {
            margin-right: 8px;
          }
        }

        .timeNLocationDetail > div {
          margin: 12px 0 0 0;
        }

        // .timeNLocation {
        //   .timeNLocationDetail {
        //     flex-direction: column;
        //   }
        // }
      }

      .box3 {
        .desc {
          font-size: 14px;
        }
      }

      .box5 {
        padding: 8px 0;
        border-top: 1px solid rgb(232, 224, 224);
        width: 100%;
        justify-content: flex-end;

        .like {
          margin-left: 8px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 3.33333%;
    .content {
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 2px 2px 8px #ccc;
      padding: 20px;
      margin: 16px 0;
      border-radius: 3px;

      .box2 {
        .timeNLocationDetail {
          margin: 12px 0;
          display: flex;
          flex-direction: column;

          .title-img-view  {
            margin: 0;
          }

          .dateTime,
          .located {
            margin: 0;
          }

          .dateTime {
            margin-right: 8px;
          }
        }

        .timeNLocationDetail > div {
          margin: 12px 0 0 0;
        }

        // .timeNLocation {
        //   .timeNLocationDetail {
        //     flex-direction: column;
        //   }
        // }
      }

      .box3 {
        .desc {
          font-size: 14px;
        }
      }

      .box5 {
        padding: 8px 0;
        border-top: 1px solid rgb(232, 224, 224);
        width: 100%;
        justify-content: flex-end;

        .like {
          margin-left: 8px;
        }
      }
    }
  }
}

.highlight {
  color: $basic-red;
}

.blur-icon-8 {
  color: $black-blur-8;
}

.active {
  background-color: #fff;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
}

.close {
  display: none;
}

.grid-container {
  // Mobile-first column count, we'll add responsive styles in a bit
  column-count: 1;
  column-gap: 20px;
  column-fill: balance;
  margin: 20px auto 0;
  // padding: 2rem;

  .grid {
    display: inline-block;
    margin: 0 0 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 3px;

    .item {
      img {
        width: 100%;
        height: auto;
      }

      .title {
        font-size: 12px;
        font-weight: 980;
        color: rgba(0, 0, 0, 0.8);
      }

      .timeDate {
        margin: 16px 0;
        .timeNLocationDetail {
          font-size: 10px;
          i {
            color: rgba(0, 0, 0, 0.3);
          }

          .located {
            margin-left: 10px;
          }
        }
      }

      .subHeader {
        font-size: 18px;
        font-weight: bold;
      }

      .topName {
        font-size: 14px;
      }

      .interaction {
        justify-content: flex-end;
        border-top: 1px solid rgb(244, 241, 241);
        margin-right: 20px;
        font-size: 12px;

        .like {
          margin-left: 12px;
        }

        .like,
        .cmt {
          i {
            margin: 0 4px;
          }
        }
      }
    }
  }

  // Add your media query breakpoints for when to expand the columns
  @media (min-width: 600px) {
    column-count: 2;
  }

  @media (min-width: 900px) {
    column-count: 3;
  }

  @media (min-width: 1200px) {
    column-count: 4;
  }
}
