$basic-red: #e60a17;
$basic-green: #2f9a4c;
$text-white: #fff;
$text-blur: rgba(0, 0, 0, 0.8);
$bgc: rgba(0, 0, 0, 0.5);
$black-blur-8: rgba(0, 0, 0, 0.4);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
  font-style: normal;
  text-decoration: none;
}

a {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

.df {
  display: flex;
}

.dn {
  display: none;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.input {
  padding: 20px;
  margin: 8px 0;
  width: 100%;
  border-color: transparent;
  border-radius: 3px;
}

.heading-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $text-white;
  margin-bottom: 30px;
}

.bot-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $text-white;
  text-align: center;
}

.btn {
  padding: 15px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 3px;
  border-color: transparent;
  width: 100%;
  color: $text-white;
  font-size: 16px;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.p-40 {
  padding: 40px;
}

.px-20 {
  padding: 0 20px;
}

.my-4 {
  margin: 4px 0;
}

.my-12 {
  margin: 12px 0;
}

.my-20 {
  margin: 20px 0;
}

.my-30 {
  margin: 30px 0;
}

.my-50 {
  margin: 50px 0;
}

.m-a {
  margin: auto;
}

.mx-14 {
  margin: 0 14px;
}

.mx-20 {
  margin: 0px 20px;
}

.mx-50 {
  margin: 0px 50px;
}


.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $text-white;
}

.w-100 {
  width: 100%;
}

.error {
  color: $basic-red;

  input {
    border-color: $basic-red;
  }

  .error-message {
    margin-top: 4px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: $basic-red;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: none;

  .modal-container {
    width: 523px;
    background-color: white;
    position: relative;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 24px;
      line-height: 24px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    a {
      button {
        background: $basic-green;
        color: $text-white;
      }
    }
  }
}

// ============home===============
.title {
  font-weight: 500;
  font-size: 18px;
}

.timeNLocation {
  font-size: 14px;
  color: $text-blur;
}
